@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  @apply bg-dot-pattern;
}

.bg-dot-pattern {
  background-color: #ffffff;
}

.node-group {
  transition: transform 0.3s ease-in-out;
}

.node-group:hover {
  cursor: pointer;
}

.node-group circle {
  transition: r 0.3s ease-in-out;
}
